.grid {
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

#searchBar {
    margin-left: 5%;
    width: 90%;
    background-color: #EEEEEE;
}

table {
    margin-left: 5%;
    width: 90%;
    height: 100%;
    border-collapse: collapse;
}

.cell {  
    height: 100%;
    
}

#cell1 {   
    
    background-color:#7EE5DA ;
    
}

#cell2 {
    font-size: 13px;
    background-color:#70CCC2 ;  
    
}

#cell3 {
    font-size: 13px;
    background-color:#62B3AA ;  
    
}

#copy {
    font-size: 13px;
    padding: 1%;
}