body {
  margin: 0;
  padding: 0;
}

                                /* ÜST KISIM */

.panel {
  display: flexbox;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  padding: 0 4px;
  line-height: normal;
  -webkit-box-flex: 0;
  justify-content: flex-start;
  list-style-type: none;
  margin: 20px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 13px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.about {
  display: flex;
  text-decoration: none;
  flex-direction: row-reverse;
  box-sizing: content-box;
  padding: 0 4px;
  line-height: normal;
  -webkit-box-flex: 0;
  justify-content: flex-end;
  list-style-type: none;
  margin: 20px;
  overflow: hidden;
  margin-left: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #70757a;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.about:hover {
  text-decoration: underline;
}

.store {
  display: flex;
  text-decoration: none;
  flex-direction: row-reverse;
  box-sizing: content-box;
  padding: 0 4px;
  line-height: normal;
  -webkit-box-flex: 0;
  justify-content: flex-end;
  list-style-type: none;
  margin: 20px;
  overflow: hidden;
  margin-left: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #70757a;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.store:hover {
  text-decoration: underline;
}

.pic-headerli {
  width: 32px;
  height: 32px;
}

.profile-pic {
  border-radius: 50%;
  border: 0;
}

.headerli a {
  color: rgb(116, 116, 116);
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  width: 16px;
  height: 16px;
}

#apps {
  width: 25px;
  margin-top: 3px;
  margin-right: 10px;
  filter:opacity(50%);
}

#apps:hover {
  filter: opacity(80%);
}

.headerli a:hover {
  text-decoration: underline;
}

                                /* ORTA KISIM */

.container {
  text-align: center;
  margin-top: 10%;
  padding-bottom: 1.5%;
}

.search-area {
  background: transparent;
  display: flex;
  flex: 100%;
  border: 1px solid #dfe1e5;
  z-index: 3;
  word-wrap: break-word;
  height: 44px;
  margin: 0 auto;
  width: 582px;
  border-radius: 50px;
}

.search-area:hover {
  box-shadow: 0 0px 5px 0 rgba(0,0,0,0.15), 0 0px 5px 0 rgba(0,0,0,0.20);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 33px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
  width: 90%;
  border: none;
}

.voice {
  padding-top: 2px;
  padding-right: 5px;
  width: 30px;
  cursor: pointer;
}

.googlesearch {
  margin: 20px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.feelinglucky {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.googlesearch, .feelinglucky {
  color: #373737;
}

.googlesearch:hover, .feelinglucky:hover {
  border: 1px solid rgb(189, 189, 189);
}

                                /* ALT KISIM */

.leftSide {
  display: flex;
  align-items: flex-start;
  width: 30%;
}

.rightSide {
  width: 30%;
}

.footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  border-color: rgb(220, 220, 220);

}

.footerli {
  float: left;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}
